body {
  margin: 150px 10vw;
  background-color: rgb(214, 214, 214);
  font-family: 'Roboto Slab';
  /* scrollbar-width: none; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

p {
  font-size: 5vw;
}

.section1, .section2 {
  margin-bottom: 500px;
}

.menuLine {
  width: 35px;
  height: 5px;
  background-color: rgb(225, 126, 12);
  margin: 6px 0;
  transition: 0.2s;
  border-radius: 2.5px;
}

.navbarList {
  list-style-type: none;
  padding: 0;
  margin-top: 100vh;
  margin-left: 79vw;
  transition: 5s;
}

.menuIcon {
  cursor: pointer;
  margin-left: 94vw;
  margin-top: 10vh;
  position: fixed;
  right: 2.3%;
  top: -3%;
  z-index: 10;
}

#line1, #line2, #line3 {
  animation: colorRevert 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1, end);
}

.change #line1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  animation: colorChange 10ms;
  animation-fill-mode: forwards;
  animation-delay: 550ms;
}


.change #line2 {
  opacity: 0;
  animation: colorChange 10ms;
  animation-fill-mode: forwards;
  animation-delay: 550ms
}

.change #line3 {
  transform: rotate(45deg) translate(-10px, -6px);
  animation: colorChange 10ms;
  animation-fill-mode: forwards;
  animation-delay: 550ms
}

@keyframes colorChange {
  100% {background-color: rgb(199, 201, 215);}
}

@keyframes colorRevert {
  0% {background-color:rgb(199, 201, 215); opacity: 1;}
  100% {background-color: rgb(225, 126, 12);}
}

.navbarChange.navbarList {
  margin-top: 5vh;
  transition-duration: 2s;
  transition-delay: 500ms;
}

#navbarBackground {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  width: 17vw;
  height: 70vh;
  right: 0px;
  background-color: rgb(56, 52, 47);
  z-index: -1;
  top: 100vh;
  transition-duration: 980ms;
  transition-delay: 0.1s;
}

/* .change #navebarBackground {
  background-color: teal;
} */

.navbarChange #navbarBackground {
  top: 0vh;
  transition-duration: 600ms;
  transition-delay: 200ms;
}

li {
  padding: 25px;
  text-align: center;
  font-weight: 800;
  font-size: 4vmin;
  color: rgb(199, 201, 215);
  position: absolute;
}

#home {
  transform: rotate(20deg);
  transition-duration: 100ms;
  transition-delay: 80ms;
  transition-timing-function: ease-in;
  opacity: 0;
  position: fixed;
  left: 87%;
  top: 17%;
}

#about {
  transform: rotate(20deg);
  transition-duration: 100ms;
  transition-delay: 80ms;
  transition-timing-function: ease-in;
  opacity: 0;
  position: fixed;
  left: 87%;
  top: 27%;
}

#work {
  transform: rotate(20deg);
  transition-duration: 100ms;
  transition-delay: 80ms;
  transition-timing-function: ease-in;
  opacity: 0;
  position: fixed;
  left: 87%;
  top: 37%;
}

#contact {
  transform: rotate(20deg);
  transition-duration: 100ms;
  transition-delay: 80ms;
  transition-timing-function: ease-in;
  opacity: 0;
  position: fixed;
  left: 87%;
  top: 47%;
}

.navbarAnimation #home {
  opacity: 1;
  transform: rotate(0deg);
  top: 13%;
  transition-delay: 280ms;
  transition-duration: 700ms;
}

.navbarAnimation #about {
  opacity: 1;
  transform: rotate(0deg);
  transition-delay: 280ms;
  transition-duration: 700ms;
  top: 23%;
}

.navbarAnimation #work {
  opacity: 1;
  transform: rotate(0deg);
  transition-delay: 280ms;
  transition-duration: 700ms;
  top: 33%;
}

.navbarAnimation #contact {
  opacity: 1;
  transform: rotate(0deg);
  transition-delay: 280ms;
  transition-duration: 700ms;
  top: 43%;
}

#selfImage {
  height: 50vh;
  position: absolute;
  left: 62vw;
  top: 25vh;
  z-index: -1;
}

.topBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(7, 7, 7);
  z-index: -2;
  background-image: url('https://scontent-atl3-1.xx.fbcdn.net/v/t1.15752-9/300470524_482114090007992_4301045473110580642_n.jpg?stp=dst-jpg_p403x403&_nc_cat=108&ccb=1-7&_nc_sid=aee45a&_nc_ohc=ZBWnvEuXLmQAX-jG8Fe&_nc_ht=scontent-atl3-1.xx&oh=03_AVI0yz7Dro5I1ffNGfy8oKoHKDVlvAF4NETsudKfkfrVgQ&oe=635B5392');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 25%;
}

.introTitle {
  font-size: 3rem;
  margin: 0%;
  margin-top: 35vh;
  text-align: center;
  opacity: 0%;
  color: rgb(255, 255, 255);
}

.section1, .section2, .section3 {
  font-size: 2rem;
  margin-top: 50rem;
}

.introTitleContainer {
  position: absolute;
  left: 0;
  right: 36vw;
  height: 60vh;
}

.section1Background {
  background-color: rgb(255, 243, 228);
  margin: -10vw;
  margin-top: -15vw;
  height: 135vh;
  position: absolute;
  top:100vh;
  width: 100vw;
  z-index: -3;
}

.selfimage2 {
  position: absolute;
  top: 130%;
  left: 80%;
  z-index: -2;
}

.bioTitle {
  font-size: 500px;
}

.city {
  color:rgb(225, 126, 12);
}

.bioTitle {
  font-size: 5rem;
  padding: 8%;
  text-align: center;
}

.bioSection1 {  
  width: 75%;
}

.section1Text {
  text-align: center;
  margin-top: -7%;
  font-size: 1.5rem;
}

.section2Text {
  text-align: center;
  margin-top: -20%;
  font-size: 1.5rem;
}

.flex-container {
  margin: 0;
}

#card-container {
  color:blue;
  padding: 5px;
}

p.card-text {
  font-size: 1rem;
}

div.card {
  margin-left: 20px;
  float: left;
  margin-top: -30%;
}


.square1 {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 25%;
  top: 15%;
  background-color: rgb(29, 180, 49);
  animation: rotate1 9s infinite !important;
  animation-timing-function: linear;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
    top: 15%;
  }
  50% {
    transform: rotate(315deg);
    top: 18%;
  }
  100% {
    transform: rotate(630deg);
    top: 15%;
  }
}

.square2 {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 8%;
  top: 85%;
  background-color: rgb(196, 145, 36);
  animation: rotate2 3.3s infinite !important;
  animation-timing-function: linear;
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.square3 {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 45%;
  top: 75%;
  background-color: rgb(39, 165, 165);
  animation: rotate3 2s infinite !important;
}

@keyframes rotate3 {
  0% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

.square4 {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 43%;
  top: 26%;
  background-color: rgb(199, 73, 73);
  transform: rotate(28deg);
  animation: rotate4 4s infinite !important;
  animation-timing-function: linear;
}

@keyframes rotate4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section1Square1 {
  background: linear-gradient(#88E6D1, #62E4C7);
  position: absolute;
  height: 700px;
  width: 700px;
  left: 30%;
  z-index: -3;
  top: 65%;
  transform: rotate(42deg);
  mix-blend-mode: hard-light;
}

.section1Square2 {
  background: linear-gradient(#304C87, #2479B2);
  position: absolute;
  height: 700px;
  width: 700px;
  left: 10%;
  z-index: -3;
  top: 69%;
  transform: rotate(42deg);
  mix-blend-mode: hard-light;
}

/* .section1Square1:hover {
  background-color: black;
} */


.introTitle {
  opacity: 0%;
  animation: introOpacityChange 3s linear forwards !important;
  text-align: left;
  margin-left: 30%;
}

@keyframes introOpacityChange {
  30% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}